HOST=0.0.0.0
PORT=8000
DEBUG=True
MAX_AUDIO_SIZE_MB=10
MAX_IMAGE_SIZE_MB=5
SPEECH_MODEL_PATH=../ml/saved_models/speech_knn.joblib
PAIN_MODEL_PATH=../ml/saved_models/pain_inception.keras
ALLOWED_AUDIO_EXTENSIONS=.wav,.mp3,.m4a,.flac,.ogg,.mp4
ALLOWED_IMAGE_EXTENSIONS=.jpg,.jpeg,.png,.webp
